:root{
  --bg-main: #05060f;
  --bg-tab-active: #101224;
  --bg-tab-hover: #0e1021;
  --text-main: #e5e5e5;
  --border-subtle: #1a1d3a;
  --scrollbar-thumb: #2a2e5a;
  --accent:dodgerblue;
}

html, body{
  margin:0;
  height:100vh;
  padding:0;
  overflow: hidden;
}
.container{
  display: flex;
  flex-direction: row;
  height:100vh;
}
.code{
  display: flex;
  flex-direction: column;
  margin:0;
  outline:none;  
  width:50%;
  min-width: 150px;
  transition:0.1s;
}
.preview{
  flex:1;
  min-width: 150px;
}
textarea{
  flex:1;
  background:var(--bg-main);
  color:var(--text-main);
  padding:10px;
  outline:none;
  border:none;
  font-family: monospace;
  
}
textarea::-webkit-scrollbar{
  width:6px;

}
textarea::-webkit-scrollbar-thumb{
  background:var(--scrollbar-thumb);
  border-radius: 30px;
  cursor: pointer
}

.preview iframe{
  height: 100%;
  width: 100%;
  border: none;
}
.tabs{
  display:flex;
  background: var(--bg-main);
}
.tab{
  flex: 1;
  padding:10px;
  background:var(--bg-main);
  color:var(--text-main);
  border:none;
  cursor:pointer;
  transition:0.3s;
  border-bottom: 2px solid var(--border-subtle);
  font-weight:500;
  
}
.tab.active{
  background:var(--bg-tab-active);
  border-bottom:3px solid var(--accent);
}
.tab:hover{
  background:var(--bg-tab-hover);
}
.editor{
  flex:1;
  display:flex;
  min-height: 0;
}
.editor-pane{
  display:none;
  flex: 1;
}
.editor-pane.active{
  display:flex;
}

.divider{
  width:3px;
  cursor:col-resize;
  background: var(--border-subtle);
  flex-shrink: 0
}
.divider:hover{
  background:var(--accent);
}
.code, .preview {
    will-change: width;
}

.cm-editor {
  height: 100%;
  width:100%
}
.cm-editor:hover{
  cursor:text;
}